language: python
python: '3.5'
sudo: false
env:
  global:
    - secure: mbAyMnRuHgQSyM6vRBEMqfqCRSy+5OjYgMuSxnHG8H40+w0RwydxNBNHwPGtxbwtGPYig7YI8SXt3/HK00poXRHjLp4Vq9fbUtll7hWl1YfzbWXhdOQnwr2gProXi/yxIzNsXvpCqizUTSB+6f7EjaN+3Agh5+C/R3YvfxFdlBHqYf5Qn8tvpU8S5NYGMQIL4HujT66mtAQi8k1hp1y1gjGrHF9rajzqm0j1BfQTfIGdQ4+y1zQ2NjYvGt5fOXsaVYPPJ4sSP5NtfJTalKJvBQ6h1tBxw6+C5w/BT4G0xdsU3kPRp0Ns9DUQ9BP+6etL3RU3OOuZWTOng2ZsJGH+UurcleTYfGYEv9gnpQTt3NECSz7B9Zoqa8sU9DY+nEPPKFBfSKNPtPG19k4XzOmBMwBxs8HSzhr9sNNeM1N+w6M0BscBHuGPC7Jq0AGxzKJnl+wrVVTGQlYULOwVO+JLLWtih58wIj0T5WRPmaLhvcfftHIQvgU7WQpJcAYnxR2h8D1oMcUFCLF/YntntMmh+q3psxqB6NSJcsJFBgkyDhRiuXYWZ02aVa7/SnaW9mfU761leP3+s1JYFNBTMQnG69TOjEEGbFHbX0SrdKdUklsEuenaBe2AEdDYN401OmpXmCFOkRQoeRNp+/5mU1VKXIwMxO+recMNX6cPZEw0+zM=
    # coveralls repo token, encrypted according to:
    # https://docs.travis-ci.com/user/environment-variables
  matrix:
    - TOXENV=check
    - TOXENV=coverage
    - TOXENV=py27-pytest29
    - TOXENV=py27-pytest30
    - TOXENV=py34-pytest29
    - TOXENV=py34-pytest30
    - TOXENV=py35-pytest29
    - TOXENV=py35-pytest30
    - TOXENV=pypy-pytest29
    - TOXENV=pypy-pytest30
before_install:
  - python --version
  - uname -a
  - lsb_release -a
install:
  - pip install tox
  - virtualenv --version
  - pip --version
  - tox --version
script:
  - tox -v
cache: pip
