version: '{build}-{branch}'
build: off
cache:
  - '%LOCALAPPDATA%\pip\Cache'
environment:
  matrix:
    - TOXENV: check
    - TOXENV: 'py27-pytest{35,36,37,4}'
    - TOXENV: 'py35-pytest{35,36,37,4}'
    - TOXENV: 'py36-pytest{35,36,37,4}'
    - TOXENV: 'py37-pytest{35,36,37,4}'
    - TOXENV: 'pypy-pytest{35,36,37,4}'
init:
  - ps: echo $env:TOXENV
  - ps: ls C:\Python*
install:
  - call scripts\install-pypy.bat
  - C:\Python36\python -m pip install tox
test_script:
  - C:\Python36\python -m tox
on_failure:
  - ps: dir "env:"
  - ps: get-content .tox\*\log\*
